nav {
  background: white;
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
height: auto;
  background: white;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0,0, 0.2)
}
.fixed-nav .links a {
  color: darksalmon;
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}


.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a { 
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 700px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .logo{ color: darksalmon;
    font-family: 'Tangerine', serif;
  }
  
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  #Home{
    color:darksalmon;
  }
  #Home:hover{
    color: black ;
  }
  .links {
    display: flex;
  }
  .links li{
    list-style: none;
  }
  .links a {
    background: transparent;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform:uppercase;
    display: block;
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color:white;
  }
  .designation{
    font-size: 25px;
  }
  #ife{border-radius:50% 50% 50% 50%;
    width: 200px;
    height: 200px;
    border: 2px solid black;
   
  }


/* hero */
 body header {
  min-height: 100vh;
  background: 
    url(./main-bcg.jpeg) center/cover no-repeat;
    
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
#hire{
  background-color: black;
}
#download{
  background-color: darksalmon;
}
#resume{
  padding-top: 90px;
}
#personal-details{
  padding-top: 20px;
}
.head{ padding-bottom: 40px;
  text-align: center;
}
#web{
  background-color: darksalmon;
}
#plan{
  background-color: darksalmon;
}
.skill{
  color: black;
  font-weight: 500;
}
.icon{
  font-size: 40px;
}
#contact{
  padding-top: 90px;
}
.certificate{ 
padding-top: 40px;
}
.certify {color: darksalmon;
} 
#training{
  padding-top: 30px;
}
footer {
  padding: 5rem 1rem;
}
footer p {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
}
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
}

@media screen and (max-width: 699px) {
  .container p {
    max-width: 40rem;
  }

/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
.logo{ color: darksalmon;
  font-family: 'Tangerine', serif;
}

.links li{
  list-style: none;
}

.links a{
text-decoration: none;
}
 body header {
  min-height: 80vh;
  background: 
    url(./main-bcg.jpeg) center/cover no-repeat;
    
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
#about,
#services,
#tours {
  height: 80vh;
}
#ife{border-radius:50% 50% 50% 50%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
#header{ 
  padding-top: 90px;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
#hire{
  background-color: black;
}
#download{
  background-color: darksalmon;
}
#resume{
  padding-top: 90px;
}
#personal-details{
  padding-top: 20px;
}
.head{ padding-bottom: 40px;
  text-align: center;
}
#web{
  background-color: darksalmon;
}
#plan{
  background-color: darksalmon;
}
.skill{
  color: black;
  font-weight: 500;
}
.icon{
  font-size: 40px;
}
#contact{
  padding-top: 90px;
}
.certificate{ 
padding-top: 40px;
}
.certify {color: darksalmon;
}
#services {
  background: var(--clr-white);
}
#training{
  padding-top: 30px;
}
footer {
  
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
